<div class="container mx-auto p-4">
  <h1 class="text-5xl text-center animate-pulse font-bold mb-2">
    {{ title | uppercase }} Test All Angular Concepts
  </h1>

  <!-- <app-test-interceptor></app-test-interceptor> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-encapsulation></app-encapsulation> -->
  <!-- <app-content-projection></app-content-projection> -->
  <!-- <app-structural-directive></app-structural-directive> -->
  <!-- <app-dynamic-component></app-dynamic-component> -->
  <!-- <app-change-detection></app-change-detection> -->
  <!-- <app-reactive-form></app-reactive-form> -->
  <!-- <app-rxjs-operators></app-rxjs-operators> -->
  <!-- <app-custom-directives></app-custom-directives> -->
  <!-- <app-custom-pipe></app-custom-pipe> -->
  <!-- <app-template-driven></app-template-driven> -->
  <!-- <app-lazy-component></app-lazy-component> -->
  <!-- <app-store-component></app-store-component> -->
  <!-- <app-error-handler-component></app-error-handler-component> -->
  <!-- <app-counter></app-counter> -->
   <!-- <app-api-call-test></app-api-call-test> -->

   <!-- <app-destroy-ref></app-destroy-ref> -->
    <!-- <app-image-optimization></app-image-optimization> -->

    <!-- <app-investigate-form></app-investigate-form> -->
     <router-outlet></router-outlet>
</div>
