/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  min-height: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
img.loaded {
  opacity: 1;
}
